body {
    background-color: FCFCFC;
    color: #4A4A4A;
    font-family: Verdana, Ariel, sans-serif;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
     background-color: #FCFCFC;
    }

h   1{
     font-family: georgia, "Times New Roman", serif;
    font-size: 52px;
    color: #1a1a1a;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #D5D5D5
}

h2  {
    font-family: georgia, "Times New Roman", serif;
    font-size: 28px;
    color: #0097A7;}

img {
    width:380px;
    border: 2px;
    border-color: #0097A7;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}